nav ul{
    list-style: none;
    color:#EEEEEE;
}

nav ul li{
    color:#EEEEEE;
    text-decoration: none;
}
/* tamaño de la caja*/
nav ul li{
    display: inline;
    padding: 15px;
}
/color del texto/
nav ul li:link{
    color: #134B70;
    text-decoration: none;
}

nav a{
    color:darkblue;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

/para cuando pase el puntero es el hover/
nav a:hover{
    color:orange;
   /* background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;*/
    text-decoration: none;
    font-weight: bolder;
}

main nav{
    width: 780px;
}
